.navbar {
    background-color: #d10e48 !important;
}

a.btn.btn-primary {
    background-color: #d10e48 !important;
    border-color: #d10e48 !important;
}

#save {
    background-color: #d10e48 !important;
    border-color: #d10e48 !important;
}